{% set iscsi_vlans = client_vlans | selectattr('services', 'contains', 'iscsi') | list %}
{% set ns = namespace(per_initiator={}, per_tpg={}) %}
{% for cv in iscsi_vlans %}
{%   set tpg_num = loop.index %}
{%   if not (cv.generate_node_acls | default(false)) %}
{%     set vlan_acls = cv.iscsi_acls if cv.iscsi_acls is defined else iscsi_client_acls %}
{%     for entry in vlan_acls %}
{%       if entry is mapping and entry.chap_password is defined %}
{%         set key = tpg_num | string + ':' + entry.iqn %}
{%         set ns.per_initiator = ns.per_initiator | combine({key: {"user": entry.chap_user, "pass": entry.chap_password}}) %}
{%       endif %}
{%     endfor %}
{%   elif cv.iscsi_chap_user is defined and cv.iscsi_chap_password is defined %}
{%     set ns.per_tpg = ns.per_tpg | combine({tpg_num | string: {"user": cv.iscsi_chap_user, "pass": cv.iscsi_chap_password}}) %}
{%   endif %}
{% endfor %}
{{ {"per_initiator": ns.per_initiator, "per_tpg": ns.per_tpg} | to_json(indent=2) }}
